header {
    height: 75px;
    background-color: rgb(65, 135, 200);
    margin-bottom: 20px;
    display: flex;
    
}

header img {
    margin: 7.5px;
    height: 55px;
    width: auto;
}

header h1 {
 font-size: 160%;
 position: relative;
}

body footer {
    height: 25px;
    background-color: rgb(65, 135, 200);
    position: absolute;
    bottom: 0;
    width: 100%;
}

body footer p {
    text-align: center;
    color: white;
}